.switch {
  position: relative;
  display: inline-block;
  width: 73px;
  height: 32px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CD3B1B;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.slider.round {
  border-radius: 34px;
}

input:checked + .slider {
  background-color: #89C445;
}

input:focus + .slider {
  box-shadow: 0 0 1px #89C445;
}

input:checked + .slider:before {
  -webkit-transform: translateX(86px);
  -ms-transform: translateX(36px);
  transform: translateX(38px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 60%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'ON';
   left: 33%;
}

#save {
  visibility:hidden;
}



.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #B2CE79;
  width: 350px;
  height: 109px;
  border-radius: 16px;
  

}

@media (max-width:1000px){
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #B2CE79;
    width: 140px;
    height: 60px;
    border-radius: 16px;
    
  }
  }

.button3:hover {
  background-color: #75A233;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #B2CE79;
  width: 325px;
  height: 120px;
  border-radius: 16px;
  

}

.button1:hover {
  background-color: #75A233;
  color: white;
}

input{
  text-align:center;

}

.button2 {
  background-color: white; 
  color: #75A233; 
  border: 2px solid #B2CE79;
  width: 157px;
  height: 81px;
  border-radius: 16px;
  

}

@media (max-width:600px) {
  

.button2 {
  background-color: white; 
  color: #75A233; 
  border: 2px solid #B2CE79;
  width: 70px;
  height: 50px;
  border-radius: 16px;
  
}
}

.button4 {
  background-color: white; 
  color: #75A233; 
  border: 2px solid #B2CE79;
  width: 147px;
  height: 119px;
  border-radius: 16px;
  

}

@media (max-width:5000px){
.user_style{
  border: 1px solid black; 
  background-color: white;
  width: 770px; 
  height: 300px; 
  border-radius:16px; 
  padding-top: 60px;
  margin-left: 22px;
}
  
}

@media (max-width:1600px){
  .user_style{
    border: 1px solid black; 
    background-color: white;
    width: 600px; 
    height: 300px; 
    border-radius:16px; 
    padding-top: 60px;
    margin-left: 22px;
  }
    
  }

  @media (max-width:1200px){
    .user_style{
      border: 1px solid black; 
      background-color: white;
      width: 1100px; 
      height: 300px; 
      border-radius:16px; 
      padding-top: 60px;
      margin-left: 22px;
      
    }
      
    }

@media (max-width:1000px){
  .user_style{
    border: 1px solid black; 
    background-color: white;
    width: 600px; 
    height: 300px; 
    border-radius:16px; 
    padding-top: 20px;
    margin-left: 22px;
  }
    
  }

  @media (max-width:800px){
    .user_style{
      border: 1px solid black; 
      background-color: white;
      width: 500px; 
      height: 300px; 
      border-radius:16px; 
      padding-top: 20px;
      margin-left: 22px;
    }
      
    }

  @media (max-width:600px){
    .user_style{
      border: 1px solid black; 
      background-color: white;
      width: 525px; 
      height: 300px; 
      border-radius:16px; 
      padding-top: 20px;
      margin-left: 22px;
    }
      
    }
 

@media (max-width:5000px){
.user_style2{
  border: 1px solid #0C0808; 
  background-color: white;
  margin-left: 15px;
  width: 1594px; 
  height: 300px; 
  border-radius:16px; 
  padding-top: 60px;
  
}
}


@media (max-width:1600px){
  .user_style2{
    border: 1px solid #0C0808; 
    background-color: white;
    margin-left: 15px;
    width: 1594px; 
    height: 300px; 
    border-radius:16px; 
    padding-top: 60px;
    
  }
  }


  @media (max-width:1200){
    .user_style2{
      border: 1px solid #0C0808; 
      background-color: white;
      margin-left: 15px;
      width: 1594px; 
      height: 300px; 
      border-radius:16px; 
      padding-top: 60px;
      
    }
    }


    @media (max-width:1000px){
      .user_style2{
        border: 1px solid #0C0808; 
        background-color: white;
        margin-left: 15px;
        width: 1594px; 
        height: 300px; 
        border-radius:16px; 
        padding-top: 60px;
        
      }
      }


      @media (max-width:800px){
        .user_style2{
          border: 1px solid #0C0808; 
          background-color: white;
          margin-left: 15px;
          width: 1594px; 
          height: 300px; 
          border-radius:16px; 
          padding-top: 60px;
          
        }
        }


        @media (max-width:600px){
          .user_style2{
            border: 1px solid #0C0808; 
            background-color: white;
            margin-left: 15px;
            width: 1594px; 
            height: 300px; 
            border-radius:16px; 
            padding-top: 60px;
            
          }
          }

.footer{
  position: absolute;
  
  padding-top: 10%;
  width: 100%;
}



.list {
  background-color: white; 
  color: black; 
  border: 2px solid #B2CE79;
  width: 422px;
  height: 103px;
  border-radius: 16px;
  

}

.size{

  height: 50px;
  width: 500px;

  content: 'no';
}

.div-input {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  border-radius: 1px;
  border: 1px solid black;

}

.div-label {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  width: 100px;}

.button10 {
  background-color: white; 
  color: black; 
  border: 2px solid;
  width: 500px;
  height: 50px;
  
}


.div-permission {
  display: table-cell;
  vertical-align: middle;
  height: 45px;
  width: 900px;
  
}

.div-permission2 {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  width: 900px;
  border: 1px solid purple;
}

.btn{
  background-color: red;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.green{
  background-color: #199319;
}
.red{
  background-color: red;}



  .DIV{
    display:none
  }
